body {
  font-family: Oleo Script, cursive;
  background-color: white;
}

.section {
  border: none;
}

h1  {
  text-align: center;
  text-shadow: 4px, 4px, black;
  color: dodgerblue;
  font-size: 90px;
  text-shadow: 4px 4px black;
  border: none;
  margin: none;
}

#sign-up-form {
  background-color: lemonchiffon;
  border-radius: 30px;
  border: 0px;
  box-shadow: 4px 4px black;
  font-size: 22px;;
}

#sign-in-form {
  background-color: aquamarine;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  font-size: 22px;
  border: 2px black;
}

#change-password-form {
  background-color: lightpink;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  font-size: 22px;
}

#add-song-form {
  background-color: cornflowerblue;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  font-size: 22px;
}

  
#update-song-form {
  background-color: lemonchiffon;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  font-size: 22px;
}


  .your-songs {
    display: flex;
    background-color: lavender;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    padding: 200px;
    box-shadow: 4px 4px black;
    justify-content: center;
  }
  
  h2 {
    display: flex;
    align-items: flex-start;
  }
  
  .hidden {
  display: none;
  }
  
  fieldset {
    border: none;
    padding: 30px;
    margin: 20px;
    
    & .zoom:hover {
      transform: scale(1.3);
    }
  }
  
input {
  padding: 2px;
  border-radius: 5px;
  border: 4px grey;
  box-shadow: 2px 2px black;
}

label {
  padding: 9px;
}

div {
  display: inline-block;
  justify-content: center;
}

.song-info {
  border: 1px solid black;
}