body {
  font-family: Oleo Script, cursive;
  background-color: white;
}


.section {
  border: none;
}
.hidden {
  display: none;
}

h1  {
  text-align: center;
  text-shadow: 4px, 4px, black;
  color: dodgerblue;
  font-size: 90px;
}

#sign-up-form {
  background-color: lemonchiffon;
  border-radius: 30px;
  border: 0px;
  box-shadow: 4px 4px black;
}

#sign-in-form {
  background-color: aquamarine;
  border-radius: 30px;
  box-shadow: 4px 4px black;
}

#change-password-form {
  background-color: lightcoral;
  border-radius: 30px;
  box-shadow: 4px 4px black;
}

fieldset {
  border: none;
  padding: 30px;
}